export MEMOREX_BIDIRECTIONAL_NOTE_DELIMITTER="⮂"
export MEMOREX_NOTE_DIRS="/dir1, /dir2, /dir3"
export MEMOREX_TIMEZONE="America/Los_Angeles"

# ----------------------------------------------------
# Memorex.Config:

export MEMOREX_NEW_CARDS_PER_DAY=20
export MEMOREX_MAX_REVIEWS_PER_DAY=200

export MEMOREX_LEARN_AHEAD_TIME_INTERVAL="PT20M"

export MEMOREX_LEARN_STEPS="PT1M, PT10M"
export MEMOREX_GRADUATING_INTERVAL_GOOD="P1D"
export MEMOREX_GRADUATING_INTERVAL_EASY="P4D"

export MEMOREX_RELEARN_STEPS="PT10M"
