<header class="container">
  <section>
    <nav class="navbar">
      <.link href={~p"/"}>Decks</.link>
      <.link href={~p"/dev/dashboard/home"} class="navbar-item">LiveDashboard</.link>
    </nav>
  </section>
</header>

<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
