// See 
// https://pragmaticstudio.com/tutorials/using-tailwind-css-in-phoenix
// to use Sass together with Tailwind

@tailwind base;
@tailwind components;
@tailwind utilities;

.answer {
  display: block;
}

.debug-info {
  &.expanded {
    .caret-down {
      display: block;
    }

    .caret-right {
      display: none;
    }

    .debug-contents {
      padding: 5px 20px;
      background: #eeeeee;

      .note-line {
        margin: 5px 0;
      }
    }
  }

  &.collapsed {
    .caret-down {
      display: none;
    }

    .caret-right {
      display: block;
    }

    .debug-contents {
      display: none;
    }
  }

  .caret {
    height: 20px;
    width: 20px;
  }
}
