@import "./initial-variables.sass";
@import "./derived-variables.sass";

@import "./bulma/bulma.sass";

.answer-button {
  height: 8rem;

  &.again {
    background-color: rgb(220, 38, 38);
  }

  &.hard {
    background-color: rgb(181, 84, 9);
  }

  &.good {
    background-color: rgb(67, 56, 203);
  }

  &.easy {
    background-color: rgb(4, 120, 87);
  }
}

.answer-choice {
  display: block;
}

.answer-interval {
  display: block;
}

.debug-info {
  &.expanded {
    .caret-down {
      display: block;
    }

    .caret-right {
      display: none;
    }

    .debug-contents {
      padding: 5px 20px;
      background: #eeeeee;

      .note-line {
        margin: 5px 0;
      }
    }
  }

  &.collapsed {
    .caret-down {
      display: none;
    }

    .caret-right {
      display: block;
    }

    .debug-contents {
      display: none;
    }
  }

  .caret {
    height: 15px;
    width: 15px;
  }
}
